autocor_spp
predictors
ethier_etal_spp_classification.csv
percent_change_wide_lin
percent_change_wide_quad
spp_annual_mean
vilchis_spp
spp_annual_full_preds
trend_spp
vilchis_guilds
Foraging guild table.csv
all_best_preds_response
all_competitive_coefs
coefs_wide
guild_preds_response
percent_changes
abund_guilds
guild_competitive_coefs
all_best_preds_response
fresh_predictions
guild_aic
herring_cdfw.csv
moci_predictions
spp_day_total
spp_day_total_ungrouped
guilds_foraging_diet_classification.csv
