output1_trends.docx
trend_analysis_aic_tables.docx
output_trend_aic_tables.docx
output_percent_change.docx
output_spp_figures.docx
output10_percent_change_iucn_table.docx
output1_trend_aic_tables.docx
output2a_model_coeff_table.docx
output4a_combine_figures.docx
output4b_figures_for_paper.docx
output5a_combine_percent_change.docx
output6_best_models_table.docx
output8_relative_abund_table.docx
output9_iucn_species.docx
output11_all_species_detected.docx
